<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <h1>Hello Raghav I am EJS.</h1>
    <form action="/get-form-data" method="post">
        <input type="text" placeholder="Enter Your Name" name="name">

        <input type="text" placeholder="Enter Your Email" name="email">

        <input type="text" placeholder="Enter Your Password" name="password">

        <input type="submit">
    </form>

</body>

</html>