<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a href="" class="text-blue-500">Go Back to Home</a>
        <h1 class="text-3xl tracking-tighter">Name of the File</h1>
        <p class="text-xl mt-5 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda excepturi quibusdam, nam corrupti ab exercitationem? Dicta voluptas et, repudiandae laudantium nesciunt at fuga aperiam aspernatur, natus officiis magni, recusandae voluptatum.</p>
    </div>
</body>

</html>